* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#head {
  background-color: purple;
  font-family: "Alumni Sans Inline One", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px auto;
}

#head .home {
  background-color: rgba(128, 0, 128, 0.5);
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

#d_form {
  margin: 100px auto;
  background-color: transparent;
  border-left: solid 5px purple;
  border-bottom: solid 5px purple;
  border-right: solid 5px purple;
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 250px;
  padding: 10px;
  padding-bottom: 0;
}

#d_form .form_contents {
  margin-top: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#d_form label {
  display: block;
  margin: 10px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-weight: bolder;
}

#uname,
#pwd {
  background-color: #f1ebeb;
  border: none;
  color: black;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  padding-left: 5px;
  margin-bottom: 30px;
  display: block;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#uname:hover,
#pwd:hover {
  background-color: white;
  border-left: 3px solid purple;
  height: 35px;
  font-family: cursive;
}

.logger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
  padding: 0;
}

.logger #login {
  background-color: purple;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  margin-top: 5px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-family: sans-serif;
  border-radius: 5px;
}

#navgt {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#navgt a {
  padding: 20px;
}

#navgt a:hover {
  color: rgba(128, 0, 128, 0.5);
  background-color: white;
}

#navgt a:active {
  background-color: white;
  color: purple;
}

.m_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.m_body .left-col {
  color: white;
  font-size: 30px;
  background-color: purple;
  margin: 5px;
  padding: 10px;
}

.m_body .left-col .info_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m_body .left-col .info_profile .pic {
  width: 50px;
  border-radius: 50%;
}

.m_body .left-col .info_profile .info {
  background-color: white;
  color: purple;
}

.m_body .left-col .info_profile .info:nth-of-type(even) {
  background-color: purple;
  color: white;
}

footer {
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-top: 30px;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}

footer a:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=css.css.map */
