* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#head {
  background-color: purple;
  font-family: "Alumni Sans Inline One", cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px auto;
}
#head .home {
  background-color: rgba(128, 0, 128, 0.5);
  width: auto;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  padding-left: 15px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

#d_form {
  margin: 100px auto;
  background-color: transparent;
  border-left: solid 5px purple;
  border-bottom: solid 5px purple;
  border-right: solid 5px purple;
  border-radius: 8px;
  justify-content: center;
  align-self: center;
  width: 250px;
  padding: 10px;
  padding-bottom: 0;
}
#d_form .form_contents {
  margin-top: 50px;
  transition: all 0.3s;
  transition-delay: 2s;
  transition-timing-function: ease-in-out;
}
#d_form label {
  display: block;
  margin: 10px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-weight: bolder;
}

#uname,
#pwd {
  background-color: rgb(241, 235, 235);
  border: none;
  color: black;
  font-family: cursive;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  padding-left: 5px;
  margin-bottom: 30px;
  display: block;
  border-radius: 3px;
  transition: all 0.3s ease;
  transition-timing-function: ease-in-out;
}
#uname:hover,
#pwd:hover {
  background-color: rgb(255, 255, 255);
  border-left: 3px solid purple;
  height: 35px;
  font-family: cursive;
  transition: all 0.3s ease-in-out;
}

.logger {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  padding: 0;
}
.logger #login {
  background-color: purple;
  border: white solid 1px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  margin-top: 5px;
  display: flex;
  border: none;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.logger #login:hover {
  color: purple;
  background-color: white;
  border: purple solid 1px;
  transition: all 0.3s ease-in;
}

#navgt {
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}
#navgt .active {
  background-color: white;
  color: purple;
}
#navgt a {
  padding: 5px;
  width: auto;
  transition: all 0.3s ease;
}
#navgt a:hover {
  color: rgb(90, 7, 90);
  background-color: white;
  border-radius: 5%;
  transition: all 0.3s ease;
}
#navgt a:active {
  background-color: white;
  color: purple;
}

.m_body {
  display: flex;
  flex: auto;
  align-items: center;
  align-content: flex-start;
}
.m_body .left-col {
  color: white;
  font-size: 30px;
  background-color: purple;
  margin: 5px;
  padding: 10px;
}
.m_body .left-col .info_profile {
  display: flex;
  flex-direction: column;
}
.m_body .left-col .info_profile #pic {
  width: 80px;
  border-radius: 50%;
}
.m_body .left-col .info_profile #pic .pic {
  width: 80%;
  border-radius: 50%;
  color: red;
}
.m_body .left-col .info_profile .info {
  background-color: white;
  color: purple;
}
.m_body .left-col .info_profile .info:nth-of-type(even) {
  background-color: purple;
  color: white;
}

#upload {
  background-color: white;
  border-left: solid 2px purple;
  padding: 10px;
  margin: 5px;
}
#upload:only-of-type {
  color: red;
}

#submit {
  float: right;
  color: purple;
  border: solid 2px purple;
  padding: 10px;
  font-weight: bold;
  margin-right: 5px;
}

footer {
  background-color: purple;
  display: flex;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
}
footer a {
  color: white;
  font-weight: lighter;
  text-decoration: none;
  margin-left: 10px;
}
footer a:first-child {
  margin-left: 0;
}

@media (max-width: 670px) {
  #navgt {
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
  }

  footer {
    background-color: purple;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
  }
  footer a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
  }
  footer a:first-child {
    margin-left: 0;
  }

  #notification {
    background-color: rgb(241, 211, 241);
    border-bottom: 3px purple solid;
    display: none;
    position: absolute;
    top: 150px;
    right: 90px;
    padding: 5px;
  }
}/*# sourceMappingURL=css.css.map */
